# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
venv/
ENV/
env/
env.bak/
venv.bak/
.venv/

# Pipenv
Pipfile.lock

# Poetry
poetry.lock
.poetry/

# PyInstaller
# Usually these files are written by a python script from a template
# before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Docker
.dockerignore

# MySQL / SQL Lite
*.db
*.sqlite3

# Airflow
airflow.cfg
logs/

# Other files and directories that should not be included
*.env
.env.*

# Ignore data files
/data/
*.csv
*.parquet
*.json

# Ignore backup files
*.bak
*.swp
*.swo
